<div class="categories-nav">
  <ul>
    <% categories.map((categoryObj) => { %>
      <li>
        <a href="/category/<%= categoryObj.category %>"><%= categoryObj.category %></a>
      </li>
    <% }) %>
  </ul>
</div>