<div class="categories-nav">
  <% if (categories.length) { %>
    <ul>
      <% categories.map((categoryObj) => { %>
        <li>
          <a href="/category/<%= categoryObj.category %>"><%= categoryObj.category %></a>
          <% if (locals.delete && categoryObj.category !== 'unassigned') { %>
              <form action="categories/delete/confirm/<%= categoryObj.id %>" method="get">


                <button type="submit" name="modal" value="open">Open</button>
                <button type="submit" name="modal" value="open">Open</button>
              </form>
            <% } %>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>There are 0 categories.</p>
  <% } %>
 
</div>