<footer>
  <ul>
    <li>placeholder</li>
    <li>
      <a href="https://github.com/mikeyCos/inventory-application" target="_blank">
        <%- include("../../public/assets/icons/github-mark/github-mark.svg") %>
      </a>
    </li>
  </ul>
</footer>
