<header>
  <nav>
    <ul class="nav-left">
      <li>
        <a href="/">
          <%- include("../../public/assets/icons/undraw_logistics.svg") %>
        </a>
      </li>
    </ul>

    <ul class="nav-right">
      <li class="nav-item">
        <a href="/">Home</a>
      </li>

      <li class="nav-item drop-down">
        <a href="/categories">Browse By Category</a>
        <%- locals.categories && include('./categories', { categories }) %>
      </li>

      <li class="nav-item">
        <a href="/category/add">Add Category</a>
      </li>

      <li class="nav-item">
        <a href="/item/add">Add item</a>
      </li>
    </ul>
  </nav>
</header>
