<section id="items">
  <% if (items.length) { %>
    <% items.map((item) => { %>
      <%- include('./item', item) %>
    <% }) %>
  <% } else { %>
    <p>There are no items assigned to the <%= category %> category.</p>
  <% } %>
</section>