<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body>
  <%- include('./header') %>
  <main>
    <section id="add-category">
      <h2>Add Category</h2>
      <form action="/add/category" method="post">
        <ul>
          <li>
            <label for="category">Category</label>
            <input id="category" name="category" type="text">
          </li>
        </ul>
        <button type="submit">Add Category</button>
      </form>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>