<!DOCTYPE html>
<html lang="en">
  <%- include('./head') %>
  <body>
    <%- include('./header') %>
    <main>
      <section id="home">
        <div>
          <h2>Home</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est error dolor rerum quaerat aliquam voluptate eligendi delectus ab illum consequuntur? Odit eum quas error et enim voluptatem quam voluptates iste.</p>
        </div>
        <div>
          <h2>Placeholder</h2>
          <p>Fusce fringilla et arcu hendrerit elementum. Curabitur ultrices tortor id lorem molestie, sed laoreet orci cursus. Integer imperdiet magna sed ipsum congue lacinia. In id lobortis elit. Aenean ac elit semper neque luctus dapibus. Pellentesque faucibus pretium lorem, vitae tincidunt tellus eleifend vitae. Mauris imperdiet efficitur ex, vitae fringilla est hendrerit vitae. Nunc vestibulum gravida viverra. Maecenas elementum sed metus vel tincidunt. In sodales faucibus enim, eu bibendum dui dapibus quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur in mi id enim pulvinar gravida eget sed lorem. Aenean ex purus, convallis quis enim ac, molestie venenatis tortor. Vestibulum sollicitudin vel enim vitae aliquam. Sed id nunc felis.</p>
        </div>
      </section>
    </main>
    <%- include('./footer') %>
  </body>
</html>
