<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body>
  <%- include('./header') %>
  <main>
    <section id="success">
      <h1>success</h1>
    </section>
  </main>
  <%- include('./footer') %>
</body>
</html>