#category > h2 {
  text-transform: capitalize;
}

.categories-nav a {
  text-transform: capitalize;
}

.categories-nav a:hover {
  background-color: var(--bkg-color-tertiary);
}

/* Categories page */
#categories > h2 {
  padding: var(--category-padding);
}

#categories > .categories-nav li {
  position: relative;
  display: flex;
  align-items: center;
}

#categories > .categories-nav li:not(:last-of-type) {
  border-bottom: 2px solid black;
}

#categories > .categories-nav li > :first-child {
  flex: 1;
  padding: var(--category-padding);
}

#categories .category-actions {
  display: flex;
  position: absolute;
  right: 0;
  margin: 0.5rem;
}

#categories .category-actions > * {
  padding: 0.25rem;
  border-radius: 10%;
}

/* Small devices */
@media screen and (min-width: 481px) {
  #categories > .categories-nav > ul {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
  }

  #categories > .categories-nav > ul > li {
    /* flex-basis: auto; */
    /* width: 100%; */
    /* max-width: 200px; */
  }

  #categories > .categories-nav li:not(:last-of-type) {
    border-bottom: none;
  }
}

/* Tablets */
@media screen and (min-width: 768px) {
}

/* Desktops */
@media screen and (min-width: 1024px) {
  #categories > .categories-nav {
    /* display: flex; */
    /* justify-content: center; */
  }

  #categories > .categories-nav > ul {
    /* max-width: 80%; */
  }
}
