footer {
  background-color: var(--bkg-color-secondary);
  box-shadow: 0 0 2px black;
  color: var(--font-color-primary);
}

footer > ul {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  justify-items: center;
  padding: 0.25rem;
  /* DELETE LATER */
  /* background-color: rgb(172, 255, 175); */
}

/* Desktops */
@media screen and (min-width: 1024px) {
  footer > ul {
    /* max-width: 1000px;
    margin: auto; */
  }
}
