footer {
  background-color: var(--font-color-primary);
  padding: 0.5rem 0;
  box-shadow: 0 0 4px black;
  color: var(--bkg-color-secondary);
}

footer > div {
  display: flex;
  justify-content: center;
  /* DELETE LATER */
  background-color: rgb(172, 255, 175);
}

@media screen and (min-width: 1024px) {
  footer > div {
    max-width: 1000px;
    margin: auto;
  }
}
