main > section > form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* DELETE LATER */
  background-color: lightskyblue;
  border: 2px solid rgb(255, 0, 230);
}

main > section > form > h2 {
  text-transform: capitalize;
}

main > section > form > button[type="submit"] {
  margin-left: auto;
  margin-top: 1rem;
  background-color: #ff5207;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-item > input {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.form-item > .input-error {
  color: red;
}

#add-item > form > ul,
#edit-item > form > ul,
#delete-item > form > ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4%;
}

#add-item .form-item,
#edit-item .form-item,
#delete-item .form-item {
  flex-basis: 100%;
}

#add-item > form > ul > :nth-last-child(-n + 2),
#edit-item > form > ul > :nth-last-child(-n + 2),
#delete-item > form > ul > :nth-last-child(-n + 3) {
  /* background-color: yellow; */
  flex-basis: 48%;
}

#delete-item > form > ul > :nth-last-child(1) {
  flex-basis: 100%;
}
