main > section > form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* DELETE LATER */
  /* background-color: lightskyblue; */
  /* border: 2px solid rgb(255, 0, 230); */
}

main > section > form > h2 {
  text-transform: capitalize;
}

main > section > form > ul {
  margin-top: 1rem;
}

main > section > form .asterisk {
  color: red;
}

main > section > form > button[type="submit"] {
  margin-left: auto;
  margin-top: 1rem;
  background-color: var(--bkg-color-tertiary);
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
}

main > section > form > button[type="submit"]:hover {
  background-color: var(--bkg-color-quaternary);
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-item > input {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.form-item > .input-error {
  color: red;
}

#delete-item > form input:read-only {
  background-color: rgb(133, 133, 133);
  color: rgb(239, 239, 239);
  pointer-events: none;
}

#add-category > form label:after,
#edit-category > form label:after,
#delete-category > form label:after,
#add-item form .form-item:nth-of-type(-n + 3) label:after {
  content: "*";
  color: red;
}

#edit-item form .form-item:nth-of-type(-n + 3) label:after {
  content: "*";
  color: red;
}

@media screen and (min-width: 481px) {
  #add-item > form > ul,
  #edit-item > form > ul,
  #delete-item > form > ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4%;
  }

  #add-item .form-item,
  #edit-item .form-item,
  #delete-item .form-item {
    flex-basis: 100%;
  }

  #add-item > form > ul > :nth-last-child(-n + 2),
  #delete-item > form > ul > :nth-last-child(-n + 3),
  #edit-item > form > ul > :nth-child(4),
  #edit-item > form > ul > :nth-child(5) {
    flex-basis: 48%;
  }

  #delete-item > form > ul > :nth-last-child(1) {
    flex-basis: 100%;
  }
}
