header {
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > ul {
  display: flex;
  gap: 1rem;
}

nav .categories {
  display: none;
  position: absolute;
}

.drop-down {
  position: relative;
}

.drop-down:hover .categories {
  display: block;
}
