header {
  background-color: var(--bkg-color-secondary);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  /* Testing */
  flex-wrap: wrap;
  justify-content: center;
}

nav > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

nav .categories-nav {
  display: none;
  position: absolute;
}

nav .nav-item > a {
  display: block;
  padding: 0.5rem;
  text-align: center;
  white-space: nowrap;
  font-size: clamp(1rem, 1.15vw, 2rem);
}

nav .nav-item > a:hover {
  background-color: var(--bkg-color-primary);
}

.drop-down {
  position: relative;
}

.drop-down:hover .categories-nav,
.drop-down > .categories-nav:hover {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  background-color: var(--bkg-color-secondary);
  z-index: 999;
}

.drop-down > .categories-nav > ul {
  width: inherit;
}

.drop-down > .categories-nav > ul > li {
  display: flex;
}

.drop-down > .categories-nav > ul > li > a {
  flex: 1;
  text-align: center;
  padding: var(--category-padding);
}

nav .nav-right a.active {
  /* How to make this work? */
  color: lightsalmon;
}

/* Small devices */
@media screen and (min-width: 481px) {
  nav {
    /* justify-content: space-between; */
    flex-direction: row;
  }

  nav > ul {
    flex-direction: row;
  }

  nav .nav-right {
    align-items: center;
  }
}

/* Tablets */
@media screen and (min-width: 768px) {
  nav {
    justify-content: space-between;
  }
}

/* Desktops */
@media screen and (min-width: 1024px) {
  nav {
    max-width: 1000px;
    margin: auto;
  }
}
