header {
  background-color: var(--bkg-color-secondary);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  /* Testing */
  flex-wrap: wrap;
  justify-content: center;
}

nav > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

nav .categories-nav {
  display: none;
  position: absolute;
  top: 100%;
}

nav .nav-item > a {
  position: relative;
  display: block;
  padding: 0.5rem;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
}

nav .nav-item > a:hover {
  background-color: var(--bkg-color-primary);
}

.drop-down {
  position: relative;
  display: flex;
  justify-content: center;
}

.drop-down > .categories-nav a:hover {
  background-color: var(--bkg-color-secondary);
}

.drop-down > .categories-nav > ul > li {
  display: flex;
}

.drop-down > .categories-nav > ul > li > a {
  flex: 1;
  text-align: center;
  padding: var(--category-padding);
}

nav .nav-right .nav-item > a.active::after {
  position: absolute;
  left: 25%;
  bottom: 10%;
  content: "";
  width: 50%;
  border-bottom: 4px dotted var(--bkg-color-quaternary, black);
}

@media (hover: hover) {
  .drop-down:hover .categories-nav,
  .drop-down > .categories-nav:hover {
    display: flex;
    justify-content: center;
    background-color: var(--bkg-color-tertiary);
    z-index: 999;
  }
}

/* Small devices */
@media screen and (min-width: 481px) {
  nav {
    /* justify-content: space-between; */
    flex-direction: row;
  }

  nav > ul {
    flex-direction: row;
  }

  nav .nav-right {
    align-items: center;
  }
}

/* Tablets */
@media screen and (min-width: 768px) {
  nav {
    justify-content: space-between;
  }
}

/* Desktops */
@media screen and (min-width: 1024px) {
  nav {
    max-width: 1000px;
    margin: auto;
  }
}
