.notifications {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--bkg-color-quaternary);
  visibility: hidden;
  max-height: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-999%);
  transition: all 250ms, transform 5000ms, padding 500ms ease-out;
}

.notifications.active {
  max-height: max-content;
  visibility: visible;
  padding: 1rem;
  opacity: 1;
  transform: translateY(0%);
}

.notifications > p {
  max-width: 1000px;
  padding: 0.5rem 1rem;
}

.notifications > p::first-letter {
  text-transform: capitalize;
}

/* Tablets */
@media screen and (min-width: 768px) {
  .notifications {
    /* padding: 2rem; */
  }
}
