/*
 * Define font-face(s) here
 * Define custom variables here
 * Define general styling here
 */

:root {
  --font-color-primary: #2e282a;
  --bkg-color-primary: #17bebb;
  --bkg-color-secondary: #edb88b;
  --bkg-color-tertiary: #ef3e36;
  --category-padding: 0.5rem;
}

body {
  min-height: 100svh;
  display: grid;
  grid-auto-rows: min-content 1fr min-content;
  background-color: var(--bkg-color-primary);
}

main {
  padding: 0 2rem;
}

main > section > form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

main > section > form > button[type="submit"] {
  margin-left: auto;
  margin-top: 1rem;
  background-color: #ff5207;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
}

main > section > form > ul > li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

main > section > form input {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

#add-item > form > ul,
#edit-item > form > ul,
#delete-item > form > ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4%;
}

#add-item > form > ul > li,
#edit-item > form > ul > li,
#delete-item > form > ul > li {
  flex-basis: 100%;
}

#add-item > form > ul > :nth-last-child(-n + 2),
#edit-item > form > ul > :nth-last-child(-n + 2),
#delete-item > form > ul > :nth-last-child(-n + 3) {
  /* background-color: yellow; */
  flex-basis: 48%;
}

#delete-item > form > ul > :nth-last-child(1) {
  flex-basis: 100%;
}
