/*
 * Define font-face(s) here
 * Define custom variables here
 * Define general styling here
 */

:root {
  --font-color-primary: #2e282a;
  --bkg-color-primary: #17bebb;
  --bkg-color-secondary: #edb88b;
  --bkg-color-tertiary: #ef3e36;
  --category-padding: 0.5rem;
}

body {
  min-height: 100svh;
  display: grid;
  grid-auto-rows: min-content 1fr min-content;
  background-color: var(--bkg-color-primary);
}

main {
  /* padding: 0 2rem; */
  /* padding: 2rem 0; */
  /* DELETE LATER */
  background-color: lightgray;
  border: 2px solid rgb(0, 255, 0);
}

main > section {
  height: 100%;
  max-width: 1000px;
  margin: auto;
  /* DELETE LATER */
  background-color: lightpink;
  border: 2px solid black;
}
